# Flush Flow caches after environment configuration change. A configuration change might change environment variables
# which are used in Flow configuration and these values are cached by Flow.

files:
  "/opt/elasticbeanstalk/hooks/configdeploy/post/50_flow_flush_cache.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -e
      cat /opt/elasticbeanstalk/support/envvars
      cd $(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      sudo -u $(/opt/elasticbeanstalk/bin/get-config container -k app_user) ./Packages/Application/Netlogix.Aws.ElasticBeanstalk/Scripts/eb-flush-cache.sh
