# This is necessary to keep connections to the elb open. The ELB uses a connection pool with preopened connections with
# a timeout of 60 seconds. If the ELB tries to use a connection that is already closed by apache due to keep alive
# timeout, the ELB returns 504 GATEWAY TIMEOUT to the client. This solution was proposed by AWS support.

files:
  "/etc/httpd/conf.d/keepalive.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      KeepAliveTimeout 90

container_commands:
  01_apache_restart:
    command: /etc/init.d/httpd restart
