option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /Web

  # Prevent composer install on EB node, we deploy an already installed bundle
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: composer_options
    value: "--dry-run --no-dev"

  - option_name: FLOW_CONTEXT
    value: Production
