Resources :
  ## Register the files/log groups for monitoring
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            "/tmp/cwlogs/conf.d/flow-system.conf":
              content : |
                [Flow_System_Log]
                file = /var/app/current/Data/Logs/System.log
                log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "Flow"]]}`
                log_stream_name = {instance_id}/System.log
                datetime_format = ""%y-%m-%d %H:%M:%S"
              mode  : "000400"
              owner : root
              group : root
            "/tmp/cwlogs/conf.d/flow-security.conf":
              content : |
                [Flow_Security_Log]
                file = /var/app/current/Data/Logs/Security.log
                log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "Flow"]]}`
                log_stream_name = {instance_id}/Security.log
                datetime_format = ""%y-%m-%d %H:%M:%S"
              mode  : "000400"
              owner : root
              group : root
  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0FlowLogGroup:    ## Must have prefix:  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0
    Type: "AWS::Logs::LogGroup"
    DependsOn: AWSEBBeanstalkMetadata
    DeletionPolicy: Retain     ## this is required
    Properties:
      LogGroupName: {"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "Flow"]]}
      RetentionInDays: 14

option_settings:
  - namespace: aws:elasticbeanstalk:cloudwatch:logs
    option_name: StreamLogs
    value: true

  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: WebRequestCWLogGroup
    value: {"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "webrequests"]]}

commands:
  reconfigure_logs:
    command: |
      echo 'LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %D" combined' | sudo tee -a /etc/httpd/conf/httpd.conf
    test: |
      ! grep -q 'LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %D" combined' /etc/httpd/conf/httpd.conf
