{
	"container_commands": {
		"flow-post-deploy-leader": {
			"command": "sudo -u $(/opt/elasticbeanstalk/bin/get-config container -k app_user) ./Packages/Application/Netlogix.Aws.ElasticBeanstalk/Scripts/eb-post-deploy-leader.sh && touch leader",
			"leader_only": true
		},
		"flow-post-deploy-non-leader": {
			"command": "sudo -u $(/opt/elasticbeanstalk/bin/get-config container -k app_user) ./Packages/Application/Netlogix.Aws.ElasticBeanstalk/Scripts/eb-post-deploy.sh",
			"test": "[ ! -f leader ]"
		}
	}
}
